* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
  --main-color: orange;
  --main-transition: 0.3s;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start setting box */
.setting-box {
  position: fixed;
  width: 260px;
  background-color: #ffffff1c;
  z-index: 100;
  top: 0;
  left: -260px;
  min-height: 100vh;
  transition: var(--main-transition);
}
.open {
  left: 0;
}
.setting-box .toggle-setting {
  position: absolute;
  background-color: #fff;
  top: 100px;
  right: -40px;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
  border-radius: 12px;
  transition: var(--main-transition);
}
@media (max-width: 576px) {
  .setting-box .toggle-setting {
    background-color: transparent;
  }
}
.setting-box .toggle-setting i {
  padding: 8px 0;
  width: 35px;
}
.setting-box .toggle-setting:hover {
  border-radius: 5px;
}
.setting-box .option-box {
  margin: 0;
  text-align: center;
  /* background-color: #fff; */
}
.setting-box .top {
  margin-top: 75px;
}
.setting-box .option-box h4 {
  padding: 15px 30px;
  font-size: 19px;
  color: black;
  font-weight: bold; 
  position: relative;
  text-transform: capitalize;
}
.setting-box .option-box h4::before {
  content: ' ';
  position: absolute;
  width: 30%;
  height: 2px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  transform: translateX(-50%);
}
.setting-box .option-box .colors-list {
  padding: 10px 5px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 120px;
  background-color: #bbb;
  border-radius: 15px;
}
.setting-box .option-box .colors-list li {
  width: 35px;
  height: 30px;
  border-radius: 10px;
  margin-left: 2px;
  border: 3px solid #bbb;
  transition: 0.5s;
  cursor: pointer;
}
.setting-box .option-box .colors-list li.active {
  border-color: #fff;
}
.setting-box .option-box .colors-list li:first-child {
  background-color: #ffa500;
}
.setting-box .option-box .colors-list li:nth-child(2) {
  background-color: #c53e0d;
}
.setting-box .option-box .colors-list li:nth-child(3) {
  background-color: #530440;
}
.setting-box .option-box .colors-list li:nth-child(4) {
  background-color: #045c2c;
}
.setting-box .option-box .colors-list li:nth-child(5) {
  background-color: #c90707;
}
.setting-box .yes,
.setting-box  .no {
  display: inline-block;
  width: 50px;
  background-color: #009688;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
  opacity: .5;
  padding: 4px 10px;
  border-radius: 4px;
  font-weight: bold;
  transition: var(--main-transition);
}
.setting-box .yes:hover,
.setting-box  .no:hover {
  opacity: 1;
} 
.setting-box  span.active {
  opacity: 1;
}
.setting-box .reset-option {
  width: calc(100% - 140px);
  background-color: rgba(255, 0, 0, 0.555);
  outline: none;
  border: none;
  margin: 50px 70px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
/* End setting box */
/* Start Start Nav Bullets */ 
nav {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  width: 40px;
}
nav .bullet {
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
} 
nav .bullet .tooltip {
  position: absolute;
  padding: 1px;
  top: -2px;
  width: 110px;
  background-color: var(--main-color);
  color: #fff;
  right: 30px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
nav .bullet:hover .tooltip {
  display: block;
}
nav .bullet .tooltip::after {
  content: ' ';
  position: absolute;
  border-style: solid;
  border-width: 5px;
  border-color: transparent transparent transparent var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  right: -13px;
  height: 0;
  width: 0;
}
/* End Start Nav Bullets */ 
/* Start Landing Page */
.lading-page {
  position: relative;
  min-height: 100vh;
  background-image: url(../image/01.jpg);
  background-color: #000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
  z-index: 2;
  color: #fff;
}
.lading-page .overlay {
  background-color: rgb(39 38 38 / 66%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.lading-page .header-area {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 35px;
  background-color: rgba(245, 245, 245, 0.055);
  border-bottom: 2px solid rgba(255, 166, 0, 0.425);
  height: 75px;
}
.lading-page .header-area .logo {
  width: 300px;
  font-weight: bold;
  font-size: 30px;
}
.lading-page .header-area .logo span {
  color: var(--main-color);
}
.links-container {
  flex: 1;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  text-align: right; 
}
@media (min-width: 992px) {
  .links-container {
    align-items: center;
  }
}
.lading-page .header-area .links {
  gap: 20px;
  flex: 1;
}
.lading-page .header-area .links li {
  display: inline-block;
  margin-left: 15px;
  font-weight: bold;
}
.lading-page .header-area .links li a {
  color: #fff;
  transition: 0.3s;
} 
.lading-page .header-area .links li a:hover, 
.lading-page .header-area .links  a.active {
  text-decoration: underline;
  color: var(--main-color);
}
.links-container .toggle-menu {
  width: 30px;
  height: 20px;
  cursor: pointer;
  display: none;
  position: relative;
}
.links-container .toggle-menu.menu-active::after {
  content: ' ';
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
  bottom: -40px;
  left: -7px;
  /* transform: translateX(-50%); */
}
.links-container .toggle-menu span {
  display: block;
  height: 2px;
  background-color: #eee;
  margin-bottom: 3.5px;
  border-radius: 20px;
}
.links-container .toggle-menu span:nth-child(2) {
  width: 85%;
  margin-left: auto;
}
.links-container .toggle-menu span:last-child {
  background-color: var(--main-color);
  width: 75%;
  margin-left: auto; 
  margin-bottom: 0;
}
.lading-page .intoduction-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.lading-page .intoduction-text h1 {
  font-size: 35px;
  color: var(--main-color);
  margin: 0 0 10px 0;
}
.lading-page .intoduction-text p {
  font-size: 20px;
  margin: 0;
}
@media (max-width: 575px) { 
  .lading-page .intoduction-text h1 {
    font-size: 20px;
  }
  .lading-page .intoduction-text p {
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .lading-page .header-area .links {
    display: none;
  }
  .lading-page .header-area .links.open {
    position: absolute;
    padding: 20px;
    background-color: white;
    display: block;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    top: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* ظل ناعم */
    z-index: 1000;
  }
  .lading-page .header-area .links.open li {
    display: block;
    text-align: right;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .lading-page .header-area .links.open li a {
    color: var(--main-color);
    font-weight: bold;
  }
  .lading-page .header-area .links.open li a:first-child {
    text-decoration: none;
  }
  .lading-page .header-area .links.open li:hover a {
    margin-right: 5px;
    transition: var(--main-transition);
  }
  .links-container .toggle-menu {
    display: block;
  }
}
/* End Landing Page */
/* Start About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }
}
.about-us .info {
  flex: 1;
}
.about-us .info h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info p {
  color: #5f5d5d;
  line-height: 1.8;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 100%;
  max-width: 300px;
}
/* End About Us */
/* Start skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
}
.skills .skills-box {
  display: flex;
  color: var(--main-color);
  background-color: #FFF;
  padding: 15px 15px 25px;
  margin: 15px 15px 25px;
  border-radius: 15px;
}
.skills .skills-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.skills .skills-box .skill-progress {
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #e7e6e63b;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.skills .skills-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 767px) {
  .skills .skills-box {
    flex-direction: column;
    gap: 20px;
  }
  .skills .skills-box .skill-name {
    text-align: right;
    width: 100%;
  }
}
/* End skills */
/* Start Gallary */
.gallary {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.gallary h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
}
.gallary .image-box {
  text-align: center;
}
.gallary .image-box img {
  width: 200px;
  padding: 5px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .gallary .image-box img {
    width: 86%;
  }
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
  border-radius: 15px;
} 
.popup-box h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 20px;
  text-align: center;
}
.popup-box img {
  max-width: 100%;
}
.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: -15px;
  right: -25px;
  transform: translateX(-50%);
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer; 
  transition: var(--main-transition);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-close:hover {
  background-color: black;
  color:white;
}
/* End Gallary */
/* Start time line */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline  h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 60px;
  position: relative;
  width: fit-content;
}
.timeline h2::after {
  content: ''; 
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: -15px;
  left: 2px;
  background-color: #000;
} 
.timeline .timeline-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline .timeline-content::before {
  content: ' ';
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: -50px;  
}
.timeline .year {
  width: 60px;
  margin: 20px auto 0;
  background-color: var(--main-color);
  z-index: 2;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  font-weight: bold;
}
.timeline .timeline-content .right,
.timeline .timeline-content .left {
  width: 50%;
  position: relative;
  padding: 20px;
  margin-bottom: 40px;
}
.timeline .timeline-content .right {
  margin-left: auto;
}
.timeline .timeline-content .left::before {
  content: ' ';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  right: -10px;
  border-radius: 50%;
  top: 20px;
}
.timeline .timeline-content .right::before {
  content: ' ';
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  position: absolute;
  left: -10px;
  border-radius: 50%;
  top: 20px;
}
.timeline-content .content {
  background-color: #fff;
  padding: 20px;
  border-radius: 6px;
  /* line-height: 1.6; */
}
.timeline-content .content h3 {
  font-weight: bold;
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline-content .content p {
  color: #666;
  line-height: 1.6;
  margin: 0;
}
.clearFix {
  width: 100%;
}
@media (max-width: 767px) {
  .timeline .timeline-content .right,
  .timeline .timeline-content .left {
    width: 100%;
  }
  .timeline .timeline-content .right::before,
  .timeline .timeline-content .left::before {
    display: none;
  }
}
/* End time line */
/* Start Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
.features .feat-box {
  text-align: center;
}
.features .feat-box img {
  width: 120px;
}
.features .feat-box h4 {
  font-size: 22px;
  margin: 10px 0 40px;
  position: relative;
}
.features .feat-box h4::before {
  content: ' ';
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: var(--main-color);
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.features .feat-box p {
  line-height: 1.7;
  margin: 0 auto;
  color: #373535;
}
/* End Features */
/* Start testimoials */ 
.testimoials {
  min-height: 600px;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.testimoials::after {
  content: ' ';
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
 background-color: var(--main-color);
  z-index: -1;
}
.testimoials::before {
  content: ' ';
  position: absolute;
  width: 50%;
  background-image: url(../image/04.jpg);
  background-size: cover;
  height: 100%;
  right: 0;
  top: 0;
  z-index: -1;
}
.testimoials h2 {
  font-weight: bold;
  color: white;
  font-size: 30px;
  margin: 0 0 60px;
  position: relative;
  width: fit-content;
}
.testimoials h2::after {
  content: ''; 
  position: absolute;
  width: 50%;
  height: 3px;
  bottom: -15px;
  left: 0;
  background-color: #000;
} 
.testimoials .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.testimoials .content .ts-box {
  padding: 30px;
  color: white;
  background-color: #ffffff21;
  border-radius: 6px;
}
.testimoials .content .ts-box > p  {
  margin: 0 0 10px;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
}
@media(max-width: 576px) {
 .testimoials::after  {
    display: none;
  }
  .testimoials::before {
    width: 100%;
  }
  .testimoials h2::after {
    background-color: var(--main-color);
  }
}
.testimoials .content .person-info {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.testimoials .content .person-info img {
  width: 80px;
  height: 80px;
}
.testimoials .content .person-info h4 {
  margin: 0 0 5px;
}
.testimoials .content .person-info p {
  margin: 0;
}
/* End testimoials */ 
/* Start contact */
.contact-us {
  /* margin-top: -100px; */
  min-height: 699px;
  background-color: #eee;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}
/* .contact-us::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00000079;
} */
.contact-us .container {
  position: relative;
  z-index: 10;
  color: white;
}
.contact-us h2 {
  font-weight: bold;
  font-size: 35px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact-us form {
  display: flex;
  text-align: center;
}
.contact-us form .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
.contact-us form .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}
.contact-us form .left::after {
  position: absolute;
  content: ' ';
  width: 2px;
  height: 50%;
  right: -1px;
  top: 50%;
  transform: translatey(-50%);
  background-color: var(--main-color);
}
.contact-us form  input:not([type=submit]),
.contact-us form  textarea {
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border: none;
  background-color: #ffffff69;
  border-radius: 10px;
  transition: var(--main-transition);
  /* color: white; */
  box-shadow: 1.5px 1.5px 0 0  var(--main-color);
}
.contact-us form  textarea  {
  flex: 1;
  resize: none;
}
.contact-us form  input::placeholder,
.contact-us form  textarea::placeholder {
  /* color: var(--main-color); */
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color);
}
/* Chrome, Safari, Edge, Opera لـ */
.contact-us form input[type=number]::-webkit-outer-spin-button,
.contact-us form input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
/* دي انا بحذف ال 
  sleaction
  input number
*/
}
.contact-us form  input:focus,
.contact-us form  textarea:focus {
  outline: none;
}
/* Delete the placehoder Name */
.contact-us form  input:focus::placeholder, 
.contact-us form  textarea:focus::placeholder {
  color: transparent;
  transition: var(--main-transition);
}
.contact-us form input[type=submit] {
  width: 25%;
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px auto;
  padding: 12px 6px;
  color: white;
  background-color: var(--main-color);
  border-radius: 30px;
  outline: none;
  border: none;
  transition: var(--main-transition);
}
.contact-us form input[type=submit]:hover {
  transform: translateY(-3px); /* يرتفع للأعلى قليلاً */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}
@media(max-width: 767px) {
  .contact-us form {
    flex-direction: column;
  }
  .contact-us form .left::after {
    display: none;
  }
}
/* End contact */
/* Start Footer */
.footer {
  min-height: 100px;
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
/* End Footer */
/* footer */
/* Start grid system */
@media (min-width: 576px) { /*Small devices*/
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) { /*medium devices*/
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) { /*desktop*/
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) { /*large screen*/
  .container {
    max-width: 1140px;
  }
}

/* Start grid system */